*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#title{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

#logo{
    vertical-align: middle;
    margin-left: 20px;
}

header{
    background-color: #ffffff;
    height: 70px;
    vertical-align: middle;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

.square1{
    background-color: #ffffff;
    height: 50px;
    margin-top: 50px;
    position: relative;
    width: 100%;
}

.buttons{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 80px;
}

.button{
    border-radius: 5px;
    padding: 8px;
    border: 0;
}

#blue-button{
    background-color: #47adf1;
    color: white;
    font-size: 15px;
}

#gray-button{
    background-color: #ffffff;
    color: lightgray;
    font-size: 15px;
    border: 1px solid gray;
}

.square2{
    background-color: #ffffff;
    height: 100%;
    margin-top: 10px;
    position: relative;
    width: 100%;
    padding: 50px;
    line-height: 40px;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.task-title::before{
    content: "\25BC";
    margin-right: 2px;
    
}

.task-title{
    font-weight: bold;
    margin-top: 40px;
}

.task-check::before{
     content: "\2714";
     color: #6fc5b0;
     border-radius: 50%;
     border: 1px solid #6fc5b0;
     height: 10px;
     width: 10px;
     padding: 2px 4px;
     margin-right: 10px;
}

.task-check::after{
    padding: 3px 8px;
    margin-left: 10px;
    border-radius: 15px;
}

.task-check2::after{
    padding: 3px 8px;
    margin-left: 10px;
    border-radius: 15px;
}

.editoria::after {
    background-color: #45abe9;
    content: "Editorial";
    color: white;
}

.goals::after {
    background-color: #9c72e4;
    content: "Q1 Goals";
    color: white;
}


.recruiting::after {
    background-color: #64c0a8;
    content: "Recruiting";
    color: white;
}


.mobile::after {
    background-color: #f29e33;
    content: "Mobile";
    color: white;
}

.website::after {
    background-color: #d863a0;
    content: "Website";
    color: white;
}

.sales::after {
    background-color: #b0c926;
    content: "Sales";
    color: white;
}

ol{
    list-style-type: none;
    font-weight: bold;
    color: rgb(61, 60, 60);
}

.task-check2::before{
    content: "\2A2F";
    color: #ea5952;
    border-radius: 50%;
    border: 1px solid #ea5952;
    height: 10px;
    width: 10px;
    padding: 0 4px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}
	